/*
Author: Nolan Dunham
Date: 9/12/2025
File Name: sytles.css (Term Project)
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #bf660c;
}

/* Style rule for images */
img {
    max-width: 100%;
    display: block;
}

/* Style rule for box sizing applies to all elements */
* {
    box-sizing: border-box;
}
/* Hide tab-desk class */
.tab-desk {
    display: none;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;
    color: #715700;
    background-color: #c3bc00;
}

header h1 {
    font-family: "DM Serif Display", serif;
}

/* Style rules for navigation area */
nav {
    background-color: #715700;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 2em;
    border-top: 1px solid #ffffff;
}

nav li a {
    display: block;
    color: #c3ff00;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #906f00;
    overflow: auto;
    font-family: "Roboto", sans-serif;
}

main p {
    font-size: 1.25em;
}

.action {
    font-size: 1.25em;
    color: #ffc500;
    font-weight: bold;
}

#piano, #guitar, #violin {
    margin: 0 2%;
}

#info {
    clear: left;
    background-color: #ac880b;
    padding: 1% 2%;
}

#info ul {
    margin-left: 10%;
}

.round {
    border-radius: 8px;
}

#contact .email-link {
    text-align: center;
    width: 95%;
    height: 50%;
}

.tel-link {
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

#contact a {
    color: #d1ff87;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 5px solid #ffca39;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
    background-color: #c88300;
}

footer a {
    color: #a03824;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }
    .mobile {
        display: none;
    }
    /* Tablet Viewport: Style rule for header content */
    span.tab-desk {
        display: inline;
    }
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #ff8d8d;
    }
    nav li:last-child {
        border-right: none;
    }
    nav li a {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

/* Tablet Viewport: Style rules for table */
    table {
        border: 1px solid #000;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }
    
    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }
    
    .viewex {
        font-weight: bold;
        cursor: pointer;
    }
    
    #example {
        display: none;
    }
    
    th, td {
        border: 1px solid #000;
        padding: 2%
    }
    
    th {
        background-color: #baa111;
        color: #000000;
        font-size: 1.15em;
    }
    
    tr:nth-child(odd) {
        background-color: #ffe656;
    }
    
    tr:nth-child(even) {
        background-color: #ffbb00
    }
    
    /* Tablet Viewport: Style rule for map */
    .map class {
        width: 500px;
        height: 450px;
    }
    aside {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        color: #775c02;
        text-shadow: 3px 3px 10px #8280cb;
        grid-column: 1 / span 2;
    }
    figure {
        position: relative;
        max-width: 275px;
        margin: 2% auto;
        border: 8px solid #c6661f;
    }
    figcaption {
        position: absolute;
        bottom: 0;
        background: rgba(193, 114, 33, 0.7);
        color: #ffffff;
        width: 100%;
        padding: 5% 0;
        text-align: center;
        font-family: Verdana, Arial, sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }
    grid {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-gap: 20px; 
    }
    /* Media Query for Desktop Viewport */
    @media screen and (min-width: 769px), print {
        /* Desktop Viewport: Style rule for header */
        header {
            padding: 2%;
        }
        /* Desktop Viewport: Style rules for main content */
        #info ul {
            margin-left: 5%;
        }
        main h3 {
            font-size: 1.5em;
        }
        #piano, #guitar, #violin {
            width: 29%;
            float: left;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 2%;
            margin-right: 2%;
        }
        grid {
            grid-template-columns: repeat(4, 1fr);
        }
        figcaption {
            font-size: 1em;
        }
        aside {
            grid-column: 1 / span 4;
        }
        /* Media Query for Print */
        @media screen, print {
            body {
                background-color: #977a00;
                color: #000;
            }
        }
    }
}